<p>
  <strong><span class="title">Title:</span></strong>
  <%= @article.title %>
</p>
 
<p>
  <strong><span class="title">Url:<span></strong>
  <a class="url" href=<%= @article.url %>><%= @article.url %></a>
  <%= link_to @article.title, @article.url %>
  <%= @article.url %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>